/* page-1 styles */

.uppercontainer {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 10%;
    margin: 56px auto;
    position: relative;
}
.upperconatiner1 {
    width: 35%;
    height: 100%;
    padding-top: 20px;
}
.tasks {
    font-size: 3rem;
    font-weight: bolder;
}
.lists {
    font-size: 3rem;
    opacity: 0.5;
    font-weight: lighter;
}
.uppercontainer2 {
    width: 28%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.addlist {
    width: 80%;
    height: 100%;
    position: absolute;
    font-size: 3rem;
    opacity: 0.5;
    top: 0;
    right: 0;
}

.lowercontainer {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    height: 100%;
    margin: 40px auto;
    display: flex;
    position: relative;
}
.cards {
    justify-content: space-evenly;
    width: 25%;
    height: 200px;
    border: 1.5px solid red;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    box-shadow: 4px 4px 6px gray;
}
.head {
    font-size: 1.5rem;
    margin-top: 15px;
    color: indigo;
    font-weight: lighter;
}
.hr-cards {
    margin-left: 40px;
}
.complete {
    font-size: 1.2rem;
    margin-top: 18px;
    color: tomato;
    text-decoration: line-through red;
}
#check {
    margin-top: 24px;
}

/* page-1 end */

/* page-2 styles */

.uppercontainer-page2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin: 21.5px auto;
    position: relative;
    display: flex;
}
.hr1 {
    margin: 40px auto;
    width: 25%;
    height: 100%;
}
.triptoladhak {
    width: 40%;
    height: 100%;
    font-size: 3rem;
    font-weight: bolder;
    margin: 20px auto;
    text-align: center;
}
.hr2 {
    margin: 40px auto;
    width: 25%;
    height: 100%;  
}
.back {
    font-family: Arial, Helvetica, sans-serif;
    width: 8%;
    margin: 15px auto;
    position: relative;
    justify-content: space-evenly;
}
.backtext {
    width: 65%;
    height: 100%;
    position: absolute;
    font-size: 1.5rem;
    opacity: 0.5;
    font-weight: 400px;
    top: 0;
    right: 0;
    margin-top: 4px;
}
.faplus {
    width: 15%;
    margin: 30px auto;
}

/* page-2 end */

/* page-3 styles */

.page3 {
    background-image: url(./bg-1.jpg);
}
.innercontainer {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    height: 470px;
    display: flex;
    justify-content: space-around;
}
.newlist {
    width:45%;
    height: 150px;
    border: 1.5px solid red;
    border-radius: 10px;
    text-align: center;
    margin-top: 200px;
    margin-left: 100px;
    box-shadow: 4px 4px 6px gray;
    background-color: white;
}
.p1 {
    margin-top: 25px;
}
.btn-1 {
    border: none;
    border-radius: 20px;
    background-color: tomato;
    width: 60px;
    height: 30px;
    letter-spacing: 1px;
    font-size: 15px;
    outline: 0;
    transition: transform 1s;
}
.btn-1:hover {
    cursor: pointer;
    background-color: royalblue;
}
.btn-1:active {
    transform: scale(1.5,1.5);
}

.pages {
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    height: 10%;
    margin: 50px auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1px;
}
.page4 {
    background-image: url(./bg-2.jpg);
}
.colors {
    border: 0.5px solid lightskyblue;
    border-radius: 10px;
    width: 75px;
    height: 18px;
    background-color: lightsteelblue;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
}